/* Basic reset */
body, h1, h2, p, ul, li, figure, footer, header, main, nav, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0d283;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
}

.logo {
    margin: 100px auto 10px;
    width: 280px;
    height: 100px;
}

.search-container {
    margin-top: 20px;
}

.search-bar {
    width: 580px;
    height: 40px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    border: 1px solid #ce1cb0;
    box-shadow: 0 0 10px rgba(171, 46, 161, 0.5);
}

.buttons {
    margin-top: 20px;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #dfe1e5;
    color: #5f6368;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.search-button:hover {
    background-color: #f1f3f4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.footer-links {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.footer-links a {
    color: #5f6368;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.bunnylist {
    text-align: left;
}